# Popularity Based recommendation
We'll start by loading up the MovieLens dataset. Using Pandas, we can very quickly load the rows of the u.data and u.item files that we care about, and merge them together so we can work with movie names instead of ID's. (In a real production job, you'd stick with ID's and worry about the names at the display layer to make things more efficient. But this lets us understand what's going on better for now.

In [1]:
import pandas as pd
import numpy as np
#pd.show_versions()

In [2]:
ratings = pd.read_csv('/Users/Zia/Google Drive/Bootcamp/Bootcamp Notes/Day 6 Recommendation Systems Notes/ml-100k/u.data')
ratings.head()

      0\t50\t5\t881250949
0    0\t172\t5\t881250949
1    0\t133\t1\t881250949
2  196\t242\t3\t881250949
3  186\t302\t3\t891717742
4   22\t377\t1\t878887116

In [3]:
ratings = pd.read_csv('/Users/Zia/Google Drive/Bootcamp/Bootcamp Notes/Day 6 Recommendation Systems Notes/ml-100k/u.data', sep='\t')

In [4]:
ratings.head()

     0   50  5  881250949
0    0  172  5  881250949
1    0  133  1  881250949
2  196  242  3  881250949
3  186  302  3  891717742
4   22  377  1  878887116

In [6]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('/Users/Zia/Google Drive/Bootcamp/Bootcamp Notes/\
Day 6 Recommendation Systems Notes/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3))
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [8]:
m_cols = ['movie_id', 'title']
movies = pd.read_csv('/Users/Zia/Google Drive/Bootcamp/Bootcamp Notes/\
Day 6 Recommendation Systems Notes/ml-100k/u.item', sep='|', encoding='iso-8859-1', names=m_cols, usecols=range(2))
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [9]:
ratings = pd.merge(movies, ratings)
#print ratings

In [10]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [11]:
ratings.title.nunique(), ratings.user_id.nunique()

(1664, 944)

In [12]:
movie_grouped = ratings.groupby('title').agg({'rating': [np.size, np.sum, np.mean]})

In [13]:
movie_grouped

                                                   rating
                                                     size   sum      mean
title
'Til There Was You (1997)                               9    21  2.333333
1-900 (1994)                                            5    13  2.600000
101 Dalmatians (1996)                                 109   317  2.908257
12 Angry Men (1957)                                   125   543  4.344000
187 (1997)                                             41   124  3.024390
2 Days in the Valley (1996)                            93   300  3.225806
20,000 Leagues Under the Sea (1954)                    72   252  3.500000
2001: A Space Odyssey (1968)                          259  1028  3.969112
3 Ninjas: High Noon At Mega Mountain (1998)             5     5  1.000000
39 Steps, The (1935)                                   59   239  4.050847
8 1/2 (1963)                                           38   145  3.815789
8 Heads in a Duffel Bag (1997)                          4    13  3.250000
8 Seconds (1994)                                        4    15  3.750000
A Chef in Love (1996)                                   8    33  4.125000
Above the Rim (1994)                                    5    15  3.000000
Absolute Power (1997)                                 127   428  3.370079
Abyss, The (1989)                                     151   542  3.589404
Ace Ventura: Pet Detective (1994)                     103   314  3.048544
Ace Ventura: When Nature Calls (1995)                  37    99  2.675676
Across the Sea of Time (1995)                           4    11  2.750000
Addams Family Values (1993)                            87   245  2.816092
Addicted to Love (1997)                                54   171  3.166667
Addiction, The (1995)                                  11    24  2.181818
Adventures of Pinocchio, The (1996)                    39   119  3.051282
Adventures of Priscilla, Queen of the Desert, T...    111   399  3.594595
Adventures of Robin Hood, The (1938)                   67   254  3.791045
Affair to Remember, An (1957)                          26   109  4.192308
African Queen, The (1951)                             152   636  4.184211
Afterglow (1997)                                       18    56  3.111111
Age of Innocence, The (1993)                           65   220  3.384615
...                                                   ...   ...       ...
Window to Paris (1994)                                  1     4  4.000000
Wings of Courage (1995)                                 1     4  4.000000
Wings of Desire (1987)                                 57   228  4.000000
Wings of the Dove, The (1997)                          75   276  3.680000
Winnie the Pooh and the Blustery Day (1968)            75   285  3.800000
Winter Guest, The (1997)                                9    31  3.444444
Wishmaster (1997)                                      27    66  2.444444
With Honors (1994)                                     46   141  3.065217
Withnail and I (1987)                                  13    42  3.230769
Witness (1985)                                          1     4  4.000000
Wizard of Oz, The (1939)                              246  1003  4.077236
Wolf (1994)                                            67   181  2.701493
Woman in Question, The (1950)                           1     1  1.000000
Women, The (1939)                                      15    55  3.666667
Wonderful, Horrible Life of Leni Riefenstahl, T...     10    40  4.000000
Wonderland (1997)                                      10    32  3.200000
Wooden Man's Bride, The (Wu Kui) (1994)                 3     8  2.666667
World of Apu, The (Apur Sansar) (1959)                  6    24  4.000000
Wrong Trousers, The (1993)                            118   527  4.466102
Wyatt Earp (1994)                                      50   155  3.100000
Yankee Zulu (1994)                                      1     1  1.000000
Year of the Horse (1997)                                7    23  3.285714
You So Crazy (1994)                                     1     3  3.000000
Young Frankenstein (1974)                             200   789  3.945000
Young Guns (1988)                                     101   324  3.207921
Young Guns II (1990)                                   44   122  2.772727
Young Poisoner's Handbook, The (1995)                  41   137  3.341463
Zeus and Roxanne (1997)                                 6    13  2.166667
unknown                                                 9    31  3.444444
Á köldum klaka (Cold Fever) (1994)                      1     3  3.000000

[1664 rows x 3 columns]

In [14]:
popular_movies = movie_grouped.sort_values(('rating','mean'), ascending=False)

In [15]:
popular_movies.head()

                                           rating
                                             size sum mean
title
They Made Me a Criminal (1939)                  1   5  5.0
Marlene Dietrich: Shadow and Light (1996)       1   5  5.0
Saint of Fort Washington, The (1993)            2  10  5.0
Someone Else's America (1995)                   1   5  5.0
Star Kid (1997)                                 3  15  5.0

In [16]:
grouped_sum = movie_grouped['rating']['sum'].sum()
grouped_sum

352997L

In [17]:
popular_movies['percentage']  = popular_movies['rating','sum'].div(grouped_sum)*100
#popular_movies['percentage']  = popular_movies['rating','sum']/(grouped_sum)*100

In [18]:
popular_movies.head()

                                           rating          percentage
                                             size sum mean
title
They Made Me a Criminal (1939)                  1   5  5.0   0.001416
Marlene Dietrich: Shadow and Light (1996)       1   5  5.0   0.001416
Saint of Fort Washington, The (1993)            2  10  5.0   0.002833
Someone Else's America (1995)                   1   5  5.0   0.001416
Star Kid (1997)                                 3  15  5.0   0.004249

In [19]:
popular_movies.sort_values(('percentage'), ascending=False)

                                                  rating                  \
                                                    size   sum      mean
title
Star Wars (1977)                                     584  2546  4.359589
Fargo (1996)                                         508  2111  4.155512
Return of the Jedi (1983)                            507  2032  4.007890
Contact (1997)                                       509  1936  3.803536
Raiders of the Lost Ark (1981)                       420  1786  4.252381
Godfather, The (1972)                                413  1769  4.283293
English Patient, The (1996)                          481  1759  3.656965
Toy Story (1995)                                     452  1753  3.878319
Silence of the Lambs, The (1991)                     390  1673  4.289744
Scream (1996)                                        478  1645  3.441423
Pulp Fiction (1994)                                  394  1600  4.060914
Air Force One (1997)                                 431  1565  3.631090
Empire Strikes Back, The (1980)                      368  1548  4.206522
Liar Liar (1997)                                     485  1531  3.156701
Twelve Monkeys (1995)                                392  1489  3.798469
Titanic (1997)                                       350  1486  4.245714
Independence Day (ID4) (1996)                        429  1475  3.438228
Chasing Amy (1997)                                   379  1455  3.839050
Jerry Maguire (1996)                                 384  1425  3.710938
Rock, The (1996)                                     378  1396  3.693122
Fugitive, The (1993)                                 336  1359  4.044643
Princess Bride, The (1987)                           324  1352  4.172840
Back to the Future (1985)                            350  1342  3.834286
Star Trek: First Contact (1996)                      365  1336  3.660274
Schindler's List (1993)                              298  1331  4.466443
Indiana Jones and the Last Crusade (1989)            331  1301  3.930514
Monty Python and the Holy Grail (1974)               316  1285  4.066456
Shawshank Redemption, The (1994)                     283  1258  4.445230
Full Monty, The (1997)                               315  1237  3.926984
Forrest Gump (1994)                                  321  1237  3.853583
...                                                  ...   ...       ...
Further Gesture, A (1996)                              1     1  1.000000
New Age, The (1994)                                    1     1  1.000000
Terror in a Texas Town (1958)                          1     1  1.000000
Leopard Son, The (1996)                                1     1  1.000000
Man from Down Under, The (1943)                        1     1  1.000000
Hungarian Fairy Tale, A (1987)                         1     1  1.000000
Mat' i syn (1997)                                      1     1  1.000000
Yankee Zulu (1994)                                     1     1  1.000000
Invitation, The (Zaproszenie) (1986)                   1     1  1.000000
T-Men (1947)                                           1     1  1.000000
Symphonie pastorale, La (1946)                         1     1  1.000000
Police Story 4: Project S (Chao ji ji hua) (1993)      1     1  1.000000
Shadows (Cienie) (1988)                                1     1  1.000000
Hostile Intentions (1994)                              1     1  1.000000
Pharaoh's Army (1995)                                  1     1  1.000000
Power 98 (1995)                                        1     1  1.000000
Daens (1992)                                           1     1  1.000000
Mostro, Il (1994)                                      1     1  1.000000
Shadow of Angels (Schatten der Engel) (1976)           1     1  1.000000
Quartier Mozart (1992)                                 1     1  1.000000
I, Worst of All (Yo, la peor de todas) (1990)          1     1  1.000000
Woman in Question, The (1950)                          1     1  1.000000
Vermont Is For Lovers (1992)                           1     1  1.000000
Every Other Weekend (1990)                             1     1  1.000000
Homage (1995)                                          1     1  1.000000
Getting Away With Murder (1996)                        1     1  1.000000
The Courtyard (1995)                                   1     1  1.000000
Promise, The (Versprechen, Das) (1994)                 1     1  1.000000
JLG/JLG - autoportrait de décembre (1994)              1     1  1.000000
Crude Oasis, The (1995)                                1     1  1.000000

                                                  percentage

title
Star Wars (1977)                                    0.721253
Fargo (1996)                                        0.598022
Return of the Jedi (1983)                           0.575642
Contact (1997)                                      0.548447
Raiders of the Lost Ark (1981)                      0.505953
Godfather, The (1972)                               0.501137
English Patient, The (1996)                         0.498305
Toy Story (1995)                                    0.496605
Silence of the Lambs, The (1991)                    0.473942
Scream (1996)                                       0.466010
Pulp Fiction (1994)                                 0.453262
Air Force One (1997)                                0.443347
Empire Strikes Back, The (1980)                     0.438531
Liar Liar (1997)                                    0.433715
Twelve Monkeys (1995)                               0.421817
Titanic (1997)                                      0.420967
Independence Day (ID4) (1996)                       0.417851
Chasing Amy (1997)                                  0.412185
Jerry Maguire (1996)                                0.403686
Rock, The (1996)                                    0.395471
Fugitive, The (1993)                                0.384989
Princess Bride, The (1987)                          0.383006
Back to the Future (1985)                           0.380173
Star Trek: First Contact (1996)                     0.378473
Schindler's List (1993)                             0.377057
Indiana Jones and the Last Crusade (1989)           0.368558
Monty Python and the Holy Grail (1974)              0.364026
Shawshank Redemption, The (1994)                    0.356377
Full Monty, The (1997)                              0.350428
Forrest Gump (1994)                                 0.350428
...                                                      ...
Further Gesture, A (1996)                           0.000283
New Age, The (1994)                                 0.000283
Terror in a Texas Town (1958)                       0.000283
Leopard Son, The (1996)                             0.000283
Man from Down Under, The (1943)                     0.000283
Hungarian Fairy Tale, A (1987)                      0.000283
Mat' i syn (1997)                                   0.000283
Yankee Zulu (1994)                                  0.000283
Invitation, The (Zaproszenie) (1986)                0.000283
T-Men (1947)                                        0.000283
Symphonie pastorale, La (1946)                      0.000283
Police Story 4: Project S (Chao ji ji hua) (1993)   0.000283
Shadows (Cienie) (1988)                             0.000283
Hostile Intentions (1994)                           0.000283
Pharaoh's Army (1995)                               0.000283
Power 98 (1995)                                     0.000283
Daens (1992)                                        0.000283
Mostro, Il (1994)                                   0.000283
Shadow of Angels (Schatten der Engel) (1976)        0.000283
Quartier Mozart (1992)                              0.000283
I, Worst of All (Yo, la peor de todas) (1990)       0.000283
Woman in Question, The (1950)                       0.000283
Vermont Is For Lovers (1992)                        0.000283
Every Other Weekend (1990)                          0.000283
Homage (1995)                                       0.000283
Getting Away With Murder (1996)                     0.000283
The Courtyard (1995)                                0.000283
Promise, The (Versprechen, Das) (1994)              0.000283
JLG/JLG - autoportrait de décembre (1994)           0.000283
Crude Oasis, The (1995)                             0.000283

[1664 rows x 4 columns]

In [20]:
popular_movies = popular_movies.sort_values(('percentage'), ascending=False)

In [21]:
popular_movies['Rank'] = popular_movies['percentage'].rank(ascending=False)

In [22]:
popular_movies.head(20)

                                 rating                 percentage  Rank
                                   size   sum      mean
title
Star Wars (1977)                    584  2546  4.359589   0.721253   1.0
Fargo (1996)                        508  2111  4.155512   0.598022   2.0
Return of the Jedi (1983)           507  2032  4.007890   0.575642   3.0
Contact (1997)                      509  1936  3.803536   0.548447   4.0
Raiders of the Lost Ark (1981)      420  1786  4.252381   0.505953   5.0
Godfather, The (1972)               413  1769  4.283293   0.501137   6.0
English Patient, The (1996)         481  1759  3.656965   0.498305   7.0
Toy Story (1995)                    452  1753  3.878319   0.496605   8.0
Silence of the Lambs, The (1991)    390  1673  4.289744   0.473942   9.0
Scream (1996)                       478  1645  3.441423   0.466010  10.0
Pulp Fiction (1994)                 394  1600  4.060914   0.453262  11.0
Air Force One (1997)                431  1565  3.631090   0.443347  12.0
Empire Strikes Back, The (1980)     368  1548  4.206522   0.438531  13.0
Liar Liar (1997)                    485  1531  3.156701   0.433715  14.0
Twelve Monkeys (1995)               392  1489  3.798469   0.421817  15.0
Titanic (1997)                      350  1486  4.245714   0.420967  16.0
Independence Day (ID4) (1996)       429  1475  3.438228   0.417851  17.0
Chasing Amy (1997)                  379  1455  3.839050   0.412185  18.0
Jerry Maguire (1996)                384  1425  3.710938   0.403686  19.0
Rock, The (1996)                    378  1396  3.693122   0.395471  20.0